/* Navigation buttons styles */
.navigation-wrapper > .center-column > .links-wrapper > .nav-spark > .spark-button-wrapper {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .center-column > .links-wrapper > .nav-spark > .spark-button-wrapper > .btn {
    background-color: #000000;
    color: #9b9dad;
    font-family:'Lucida Grande', sans-serif;
    font-size: 15px;
    border: none;
}
    
.navigation-wrapper > .center-column > .links-wrapper > .nav-spark > .spark-button-wrapper i {
    color: #9b9dad;
    font-size: 0.78em;
    padding-left: 0.4em;
}

.navigation-wrapper > .right-column > .create-search-login-signup-wrapper > .create-btn-wrapper {
    display: flex;
    align-items: center;
    background-color: #4c4f5a;
    border: 1px solid #4c4f5a;
    border-radius: 3px;
} 

.navigation-wrapper > .right-column > .create-search-login-signup-wrapper > .create-btn-wrapper > .btn {
    background-color: #4c4f5a;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Lato', sans-serif; 
    font-size: 0.9em;
    font-weight: 600;
    padding: 15px 15px 15px 20px;
    border: none;
}

.navigation-wrapper > .right-column > .create-search-login-signup-wrapper > .create-btn-wrapper i {
    color: hsla(139, 100%, 55%, 1);
    font-size: 1em;
    padding-right: 20px;
} 

.navigation-wrapper > .right-column > .create-search-login-signup-wrapper > .login-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper > .right-column > .create-search-login-signup-wrapper > .login-btn-wrapper > .btn {
    background-color: #4c4f5a;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Lato', sans-serif; 
    font-size: 0.9em;
    font-weight: 600;
    padding: 15px;
    border: 1px solid #4c4f5a;
    border-radius: 3px;
    margin: 15px;
}

.navigation-wrapper > .right-column > .create-search-login-signup-wrapper > .signup-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper > .right-column > .create-search-login-signup-wrapper > .signup-btn-wrapper > .btn {
    background-color: #4c4f5a;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Lato', sans-serif; 
    font-size: 0.9em;
    font-weight: 600;
    padding: 15px;
    border: 1px solid #4c4f5a;
    border-radius: 3px;     
}

/* Hero section buttons styles */
.hero-section > .page-container > .signupforfree-learnmore-wrapper > .signupforfree-btn-wrapper {
    display: flex;
    align-items:center; 
}

.hero-section > .page-container > .signupforfree-learnmore-wrapper > .signupforfree-btn-wrapper > .btn {
    background-color: hsla(139, 100%, 55%, 1);
    color: #000000;
    font-family: 'Lato', sans-serif; 
    font-size: 27px;
    font-weight: 400;
    padding: 13px 18px;
    border: 1px solid hsla(139, 100%, 55%, 1);
    border-radius: 3px;
    margin-right: 15px;
    outline: none;
    transition: 0.4s; 
}

.hero-section > .page-container > .signupforfree-learnmore-wrapper > .signupforfree-btn-wrapper > .btn:active {
    box-shadow:  8px -11px 30px 0px #0c260b;
}

.hero-section > .page-container > .signupforfree-learnmore-wrapper > .learnmore-btn-wrapper {
    display: flex;
    align-items: center;
}

.hero-section > .page-container > .signupforfree-learnmore-wrapper > .learnmore-btn-wrapper > .btn {
    background-color: #000000;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Lato', sans-serif; 
    font-size: 27px;
    font-weight: 400;
    padding: 13px 18px;
    border: 1px solid #000000;
    border-radius: 3px;
    outline: none;
    transition: 0.4s; 
}

.hero-section > .page-container > .signupforfree-learnmore-wrapper > .learnmore-btn-wrapper > .btn:active {
    box-shadow:  8px -11px 30px 0px rgba(19, 20, 19, 0.61);
}
