/* Hero section styles */
.hero-section {
    display: flex; 
    justify-content:space-between;
    background: linear-gradient(109.61deg,#4c4f5a 4.26%,#202125 84.84%);
    padding: 40px 0px 0px 50px;
}

.hero-section > .page-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.hero-section > .page-container h2 {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: hsla(230, 12%, 80%, 1);
    line-height: 38px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.hero-section > .page-container h2 strong {
    color: hsla(0, 0%, 100%, 1);
}

.hero-section > .page-container p {
    font-family:'Lato', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: hsla(230, 12%, 80%, 1);
    line-height: 40px;
}

.hero-section > .page-container > .signupforfree-learnmore-wrapper {
    display: flex;
    justify-content: left;
    align-items:center; 
    margin-bottom: 80px;
}

.hero-section > .image-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.hero-section > .image-wrapper p {
    color: hsla(0, 0%, 100%, 1);
    font-weight: 400;
    margin: 16px 0px 10px 15px;
}

.hero-section > .image-wrapper p span {
    color: hsla(196, 100%, 73%, 1)
}

.hero-section > .image-wrapper img {
    width: 600px;
    float: right;
    border: none;
    border-radius: 3px;
}